@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@

<h1 class="mt-4">Privacy Policy</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Privacy Policy</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        <p class="mb-0">
            Selamat datang di restaurant terlengkap di Bandung
        </p>
    </div>
</div>
